:root {
    --matcha: "#ABCCA3";
    --olive: "#323731";
    --honeydew: "#E2EFE2",
}

body {
    width: max-content;
    height: min-content;
}

.options {
    display:flex;
    flex-direction: column; 
}